@import "src/assets/styles/template/template";

.root-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #E0E0E0;
}
.content{
  flex: 1;
  height: 100%;
}
