<div class="root-container">
<!--  <div class="item-box">-->
<!--    <div class="title">-->
<!--      Announcements-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit ante, rhoncus ac fringilla et, feugiat nec magna.-->
<!--      Cras ac interdum dui, eget lacinia sem. Etiam sit amet lacus at ipsum rhoncus imperdiet. In pulvinar urna vitae dui lobortis,-->
<!--      vel tristique lacus maximus. Integer aliquam vulputate varius. Nulla lacus nisi.-->
<!--    </div>-->
<!--  </div>-->
  <student-carousel/>
  <br>
  <br>
  <div class="section-title">
    <div>
      <img src="assets/img/student/common/megaphone.png" alt="announcement_icon">
      Announcements
    </div>
    <a href="">View All</a>
  </div>
  <div class="news-list scrollbars">
    <student-home-card *ngFor="let i of [].constructor(5)"/>
  </div>
  <br>
  <br>
  <div class="section-title">
    <div>
      <img src="assets/img/student/common/news.png" alt="announcement_icon">
      News &amp; Events
    </div>
    <a href="">View All</a>
  </div>
  <div class="news-list scrollbars">
    <student-home-card *ngFor="let i of [].constructor(5)"/>
  </div>
</div>
