@import "src/assets/styles/template/buttons";
@import "src/assets/styles/template/scrollbars";


.section-title{
  font-size: 18px;
  margin: 5px 0px;
  padding: 7px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.2);
  a{
    font-size: 10px;
    text-decoration: none;
  }
  img{
    width: 32px;
    margin-right: 10px;
  }
}
.news-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0px;
  overflow-x: auto;
  overflow-y: hidden;
}
