@import "src/assets/styles/template/colors";

.side-nav{
  display: flex;
  flex-direction: column;
  padding: 60px 15px 15px 20px;
  min-width: 250px;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFF;
  //border-right: 1px solid $section-border;
  //box-shadow: 0 0 5px 2px $box-shadow;
  align-items: flex-start;
  font-size: 15px;
  .logo{
    width: 100px;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
    align-self: center;
  }
  .sub-menu{
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    div.title{
      color: #757575;
      width: 100%;
      text-align: left;
      text-decoration: none;
      padding: 10px 0;
      border-radius: 5px;
      margin: 1px 0;
      border: 1px solid rgba(0,0,0,0);
      cursor: pointer;
      .bi {
        margin: 0 5px;
      }
      &:hover{
        color: #212121;
        background-color: #E0E0E0;
      }
    }
    nav{
      padding-left: 10px;
      flex-direction: column;
      display: none;
    }
    &:focus nav{
      display: flex;
    }
    &.active nav{
      display: flex;
    }
  }
}
.side-nav a{
  color: $text-active;
  width: 100%;
  text-align: left;
  text-decoration: none;
  padding: 10px 0;
  border-radius: 5px;
  margin: 1px 0;
  border: 1px solid rgba(0,0,0,0);
  &:hover{
    background-color: rgba(0,0,0,.1);
  }
  .bi {
    margin: 0 5px;
  }
  &.active{
    font-weight: bold;
    background-color: rgba(0,0,0,.1);
    color: #000;
  }
}

