<nav class="side-nav scrollbars">
<!--  <img  class="logo" src="assets/img/branding/sidebar/logo.png">-->
  <a routerLink="/student"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{exact:true}">
    <i class="bi bi-house"></i> Home
  </a>
  <a routerLink="/student/subjects"
     [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{exact:true}">
    <i class="bi bi-mortarboard-fill"></i>Subjects
  </a>
  <a routerLink="/student/grades"
     [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{exact:true}">
    <i class="bi bi-list-columns"></i>Grades
  </a>
</nav>
