<nav class="side-nav scrollbars">
  <a routerLink="/student"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{exact:true}">
    <img src="assets/img/student/sidebar/home.png" class="menu-icon"> Home
  </a>
  <a routerLink="/student/subjects"
     [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{exact:true}">
    <img src="assets/img/student/sidebar/subjects.png" class="menu-icon"> Subjects
  </a>
  <a routerLink="/student/grades"
     [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{exact:true}">
    <img src="assets/img/student/sidebar/grade.png" class="menu-icon"> Grades
  </a>
</nav>

