<div class="root-container">
  <H5>Grades</H5>
  <hr>
  <div class="d-flex flex-row">
    <mat-form-field>
      <mat-label>Select Level</mat-label>
      <mat-select>
        <mat-option> 1st year </mat-option>
        <mat-option> 2nd year </mat-option>
        <mat-option> 3rd year </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Period</mat-label>
      <mat-select>
        <mat-option> Prelim </mat-option>
        <mat-option> Midterm </mat-option>
        <mat-option> Pre-finals </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
